@import './variables';
.showcase {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 55vh;
  background-color: $red;
  position: relative;

  .text-content {
    text-align: center;
    display: block;
    max-width: 700px;
    min-height: 450px;
    margin-top: 8%;
    .mini-text {
      letter-spacing: 2px;
      line-height: 6.2;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
    }
    .more {
      a {
        text-decoration: none;
        color: white;
        svg {
          fill: #fff;
          transform: translateY(7px);
        }
      }
    }
    h2 {
      font-family: 'utopia-std', serif;
      font-size: 55px;
      color: white;
    }
  }
  .showcase-img {
    display: block;
    width: 550px;
    min-height: 450px;
    margin-top: 4%;
    img {
      width: 480px;
      height: 480px;
    }
  }
}
