@import './variables';
@import './additional-info';
@import './companies-button';
@import './footer';
@import './header';
@import './line';
@import './nav';
@import './rectangle';
@import './scoop';
@import './showcase';
@import './social-icons';
@import './social-media';
@import './virgin-companies';
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Barlow', sans-serif;
	max-width: 100%;
	overflow-x: hidden;
}
.container {
	max-width: 75%;
	margin: auto;
	overflow: hidden;
}
.title {
	text-align: center;
	color: $kinda-black;
	font-size: 55px;
	.red-dot {
		color: $red;
	}
}
.wrapper {
	margin: auto;
	width: 70%;
}
